.primaryButton{
    padding: 18px 10px;
    background-color: black;
    color: white;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}
.SecButton{
    padding: 18px 10px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    justify-content: center;
    background-color: white;
    width: 100%;
    cursor:pointer;
}



